
body {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
}


#container {
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	"header header"
	"summary summary"
	"languages languages"
	"professional professional"
	"non-profit non-profit"
	"education education"
	"license license";

}
.verticalcenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75%;
}
#header {
	grid-area: header; 
	background-color: #383838; 
	text-align: center;

}
#Summary {
	grid-area: summary; 
	background-color: #383838;
	text-align: center;
	
}
#Languages {
	grid-area: languages; 
	background-color: #383838;
	text-align: center;
}

#Professional {
	grid-area; professional; 
	background-color: #383838;
	text-align: center;
}
#non-profit {
	grid-area; volunteer; 
	background-color: #383838;
	text-align: center;
}

#Education {
	grid-area; education; 
	background-color: #383838;
	text-align: center;
}
#License {
	grid-area; license; 
	background-color: #383838;
	text-align: center;
}