#container {display: grid;}



@media	only screen and (min-width: 800px) {
section{
border: 5px solid green;
}

@media only screen and (min-width: 1200px){
	section {
		border: 5px solid red;
	}

#pic{
	display: flex;
	justify-content: space-between;
}


