@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}

nav {
	height: 50px;
}

.navbar-nav {
	margin: auto;
}

.jumbotron {
	background-image: url("code.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	text-align: center;
}

.display-4 {
	color: white;
	text-align: center;
	text-shadow: 1px 1px lightgrey;
}
.display-5 {
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px lightgrey;
}

#aboutme {
	height: 280px;
}

h2 {
	color: orange;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.figure {
	border-right: 2px solid green;
}

.figure-caption {
	text-align: center;
}

.media-body {
	margin-left: 15px;
}

#portfolio {
	height: 500px;

}

#blog {
	border: 5px;
	height: 500px;
}

.card-title{
	text-align: center;
}

#contact {
	height: 360px;
	margin-top: 30px;
}
.form-group {

}

.shrinkbox {
	width: 80%;
	margin: auto;
	padding-top: 25px;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

 #getintouch {
 	margin-top: 50px;
 }



